<div class="cwt-trust-bar">
    <div class="container cwt-site-width">
        <ul class="cwt-trust-bar__list">
            <li class="cwt-trust-bar__item">
                <a href="/price-match-guarantee/" aria-label="Best Price Guarantee">
                    <svg class="icon" aria-hidden="true"><use xlink:href="#icon-shield" /></svg>
                    <span>Best Price Guarantee</span>
                </a>
            </li>
            <li class="cwt-trust-bar__item">
                <a href="/easy-returns/" aria-label="Easy 30-Day Returns">
                    <svg class="icon" aria-hidden="true"><use xlink:href="#icon-return" /></svg>
                    <span>Easy 30-Day Returns</span>
                </a>
            </li>
            <li class="cwt-trust-bar__item">
                <a href="{{urls.account.orders.all}}" aria-label="Track Your Order">
                    <svg class="icon" aria-hidden="true"><use xlink:href="#icon-order" /></svg>
                    <span>Track Your Order</span>
                </a>
            </li>
            <li class="cwt-trust-bar__item cwt-trust-bar__item--static">
                <svg class="icon" aria-hidden="true"><use xlink:href="#icon-lock" /></svg>
                <span>Secure Checkout</span>
            </li>
        </ul>
    </div>
</div>
