{{#if theme_settings.halo_recent_post}}
    <div class="halo-block halo-home-section{{#if blogBG}} halo-bgGray{{/if}}" id="recentPosts" data-halo-load="animation">
        <div class="container">
            <div class="halo-block-header halo-fadeInUp" data-halo-animate="0">
                {{#if theme_settings.halo_recent_post_title}}
                    <div class="content">
                        <h3 class="title">{{theme_settings.halo_recent_post_title}}</h3>
                    </div>
                {{/if}}
                {{#if theme_settings.halo_recent_post_desc}}
                    <div class="desc">
                        <p>{{{theme_settings.halo_recent_post_desc}}}</p>
                    </div>
                {{/if}}
                {{#if theme_settings.halo_recent_post_linkViewAll}}
                    <div class="link">
                        <a href="{{theme_settings.halo_recent_post_linkViewAll}}" aria-label="{{lang 'blog.view_all_posts'}}">
                            <span>{{lang 'blog.view_all_posts'}}</span>
                            <svg>
                                <title>Headlights</title>
                                <desc>Headlights</desc>
                                <use xlink:href="#icon-chevron-right" />
                            </svg>
                        </a>
                    </div>
                {{/if}}
            </div>
            <div class="halo-recent-post c-3" data-col="{{blogCol}}" data-halo-load="init-carousel">
                {{#if headerCustom}}
                    <div class="item halo-block-header text-left halo-fadeInUp" data-halo-animate="0">
                        {{#if theme_settings.halo_recent_post_title}}
                            <div class="content">
                                <h3 class="title">{{theme_settings.halo_recent_post_title}}</h3>
                            </div>
                        {{/if}}
                        {{#if theme_settings.halo_recent_post_desc}}
                            <div class="desc">
                                <p>{{{theme_settings.halo_recent_post_desc}}}</p>
                            </div>
                        {{/if}}
                        {{#if theme_settings.halo_recent_post_linkViewAll}}
                            <div class="link">
                                <a href="{{theme_settings.halo_recent_post_linkViewAll}}" aria-label="{{lang 'blog.view_all_posts'}}">
                                    <span>{{lang 'blog.view_all_posts'}}</span>
                                    <svg>
                                        <title>Headlights</title>
                                        <desc>Headlights</desc>
                                        <use xlink:href="#icon-chevron-right" />
                                    </svg>
                                </a>
                            </div>
                        {{/if}}
                    </div>
                {{/if}}
                {{#each post}}
                    <div class="item halo-fadeInUp" data-halo-animate="{{add @index 1}}">
                        <div class="item-image">
                            <a class="image-with-overlay" href="{{url}}">
                                <img src="{{getImage thumbnail 'theme_settings.recent_blog_size'}}" alt="{{title}}">
                            </a>
                        </div>
                        <div class="item-content">
                            <h3 class="title">
                                <a href="{{url}}" aria-label="{{title}}">{{title}}</a>
                            </h3>
                            <p class="date">{{#if author}}{{lang 'blog.posted_by' name=author}} on {{/if}}{{date_published}}</p>
                            {{#if summary}}
                                <div class="summary">
                                    {{{summary}}}&hellip;{{#if ../headerCustom}}<a class="link" href="{{url}}" aria-label="{{title}}">{{lang 'blog.read_more'}}</a>{{/if}}
                                </div>
                            {{/if}}
                            {{#unless ../headerCustom}}
                                <a class="link" href="{{url}}" aria-label="{{title}}">{{lang 'blog.read_more'}}</a>
                            {{/unless}}
                        </div>
                    </div>
                {{/each}}
            </div>
            
        </div>
    </div>
    {{{region name="home_below_recent_posts"}}}
{{/if}}
