{{#if theme_settings.halo_recent_post}}
    <div class="halo-block halo-home-section cwt-blog-section{{#if blogBG}} halo-bgGray{{/if}}" id="recentPosts" data-halo-load="animation">
        <div class="container">
            <div class="halo-block-header cwt-blog-section__header">
                {{#if theme_settings.halo_recent_post_title}}
                    <div class="content">
                        <h3 class="title">{{theme_settings.halo_recent_post_title}}</h3>
                    </div>
                {{/if}}
                {{#if theme_settings.halo_recent_post_desc}}
                    <div class="desc">
                        <p>{{{theme_settings.halo_recent_post_desc}}}</p>
                    </div>
                {{/if}}
                {{!-- Show View All when more than 4 posts exist (5th post fetched) --}}
                {{#or theme_settings.halo_recent_post_linkViewAll post.[4]}}
                    <div class="link">
                        <a class="collection--link" href="{{#if theme_settings.halo_recent_post_linkViewAll}}{{theme_settings.halo_recent_post_linkViewAll}}{{else}}/blog/{{/if}}" aria-label="{{lang 'blog.view_all_posts'}}">
                            <span>{{lang 'blog.view_all_posts'}}</span>
                            <svg aria-hidden="true">
                                <use xlink:href="#icon-chevron-right" />
                            </svg>
                        </a>
                    </div>
                {{/or}}
            </div>

            <div class="halo-recent-post cwt-blog-section__grid" data-col="4">
                {{#each (limit post 4)}}
                    <article class="item cwt-blog-card">
                        <div class="item-image">
                            <a class="image-with-overlay" href="{{url}}" aria-label="{{title}}">
                                {{#if thumbnail}}
                                    <img
                                        src="{{getImage thumbnail 'recent_blog_size'}}"
                                        alt="{{title}}"
                                        loading="lazy"
                                        width="380"
                                        height="250"
                                    >
                                {{else}}
                                    <span class="cwt-blog-card__placeholder" aria-hidden="true"></span>
                                {{/if}}
                            </a>
                        </div>
                        <div class="item-content">
                            <h3 class="title">
                                <a href="{{url}}" aria-label="{{title}}">{{title}}</a>
                            </h3>
                            <p class="date">{{date_published}}</p>
                            {{#if summary}}
                                <div class="summary">
                                    {{{summary}}}&hellip;
                                </div>
                            {{/if}}
                            <a class="link" href="{{url}}" aria-label="{{title}}">{{lang 'blog.read_more'}}</a>
                        </div>
                    </article>
                {{/each}}
            </div>
        </div>
    </div>
    {{{region name="home_below_recent_posts"}}}
{{/if}}
