// HERO CAROUSEL
// -----------------------------------------------------------------------------
//
// Purpose: Styles the hero carousel component, which basically adds extras to the
// vendor slick carousel, to specifically display hero images.
//
// 1. Use object-fit on the image tag to keep aspect ratio and cover the space
//    created by the outer div. The JS will detect browsers that do not support
//    object-fit and instead copy the image src to a the background-image of the
//    wrapper div and add the compat-object-fit class.
//
// 3. Allows image to scale on large screens while preventing the top and bottom
//    from becoming cut off.
// -----------------------------------------------------------------------------

.no-js .heroCarousel:not(.slick-initialized) .heroCarousel-image-wrapper > .heroCarousel-image {
    opacity: 1;
}

.no-js .heroCarousel:not(.slick-initialized) .heroCarousel-image-wrapper > .heroCarousel-image img {
    opacity: 1;
}

.heroCarousel {
    min-width: 100%;
    width: 1px;

    &:not(.special-style) {
        .slick-dots {
            bottom: 15px;

            @include smin-xl {
                .home-layout-2 & {
                    bottom: 22px;
                }
            }
        }
    }

    &.slick-slider {
        margin-bottom: 0;
    }

    // for IE
    @media screen and (-ms-high-contrast: active),
    (-ms-high-contrast: none) {
        opacity: 0;

        &.slick-initialized {
            opacity: 1;
        }
    }

    &:not(.slick-initialized) :not(.heroCarousel-slide--first).heroCarousel-slide {
        display: none;
    }

    .heroCarousel-image-wrapper .heroCarousel-image {
        opacity: 1 !important;
        visibility: visible !important;
    }

    a {
        text-decoration: none;
    }

    .slick-next,
    .slick-prev {
        margin: 0;
        top: 50%;
        transform: translateY(-50%);
    }

    .slick-next {
        right: 15px;

        @include smin-xxl {
            right: 80px;
        }

        &:before {
            @include carousel-arrow-color($slick-arrow-slideshow-color, "next");
        }
    
        &:hover {
            &:before {
                @include carousel-arrow-color($slick-arrow-slideshow-color-hover, "next");
            }
        }
    }

    .slick-prev {
        left: 15px;

        @include smin-xxl {
            left: 80px;
        }

        &:before {
            @include carousel-arrow-color($slick-arrow-slideshow-color, "prev");
        }
    
        &:hover {
            &:before {
                @include carousel-arrow-color($slick-arrow-slideshow-color-hover, "prev");
            }
        }
    }

    .slick-dots {
        position: absolute;
        bottom: 15px;

        @include smin-xl {
            bottom: 70px;

            .home-layout-2 & {
                bottom: 22px;
            }
        }
    }

    .slick-slide {
        &.is-square-image-type {
            .heroCarousel-image-wrapper {
                height: 100vw;
            }
        }

        &.is-vertical-image-type {
            .heroCarousel-image-wrapper {
                height: 110vw;
            }
        }

        &.is-square-image-type,
        &.is-vertical-image-type {
            .heroCarousel-image-wrapper {
                @include smax-xs {
                    height: 56.25vw;
                }
            }
        }

        &.is-image-error {
            .heroCarousel-image-wrapper {
                background: url("../img/hero-carousel-image-load-error.svg") center center no-repeat;
                background-size: contain;
            }
        }
    }

    &.heroCarousel-2 {
        @include smin-m {
            min-width: auto;
            width: calc(100% - 270px);
            margin-left: 270px;
        }
    }
}

.heroCarousel-slide {
    position: relative;

    a {
        text-decoration: none;
    }

    .heroCarousel-image {
        @include lazy-loaded-img;
        border: 0;
        width: 100%;
        max-height: 100%;
        margin: 0 auto;

        @include smax-xs {
            &:before {
                content: "";
                width: 100%;
                height: 100%;
                top: 0;
                right: 0;
                left: auto;
                z-index: 2;
                transform: none;
                position: absolute;
                transition: $anchor-transition;
                background-color: rgba(0, 0, 0, .6);
                background: linear-gradient(to bottom, transparent 0, rgba(0, 0, 0, .6) 100%);
            }
        }
    }

    &.compat-object-fit {
        // 1
        overflow: hidden;

        .heroCarousel-image {
            width: auto;
        }
    }

    .heroCarousel-image-wrapper {
        display: block;
        overflow: hidden;
        background: $color-custom-loading;

        &:after {
            content: '';
            display: block;
            height: 0;
            width: 100%;
            padding-bottom: var(--pb);
        }
    }
}

.heroCarousel-image {
    img {
        display: block;
        width: 100%;

        &.lazyload,
        &.lazyloading {
            width: auto;
            height: auto;
            max-height: 100vh;
            margin: 0 auto;
            object-fit: scale-down;

            @include smax-xs {
                max-height: 100%;
                height: 100%;
            }
        }
    }

    @include smin-xs {
        img {
            &.lazyload,
            &.lazyloading {
                width: auto;
            }
        }
    }
}

.heroCarousel-content {
    position: absolute;
    background-color: stencilColor('carousel-bgColor');
    top: 50%;
    left: 0;
    right: 0;
    z-index: 3;
    width: 100%;
    max-width: 500px;
    text-align: center;
    padding: 20px 15px 45px;
    transform: translateY(-50%);
    white-space: normal;
    margin: 0;

    @include smax-xs {
        margin: 0 auto;
        max-height: 80%;
        overflow: auto;
        position: relative;
        top: 0;
        transform: unset;
    }

    @include smin-xs {
        padding: 0 15px 8px;
    }

    @include smin-m {
        max-width: 450px;

        &.heroCarousel-content--left {
            left: 100px;
            text-align: left;
            transform: translateY(-50%);

            .heroCarousel-countdown {
                justify-content: flex-start;
            }

            .home-layout-2 & {
                left: 25px;
            }
        }

        &.heroCarousel-content--center {
            left: 50%;
            transform: translate(-50%, -50%);
        }

        &.heroCarousel-content--right {
            left: auto;
            right: 100px;
            text-align: right;
            transform: translateY(-50%);

            .heroCarousel-countdown {
                justify-content: flex-end;
            }

            .home-layout-2 & {
                right: 25px;
            }
        }
    }

    @include smin-xxl {
        &.heroCarousel-content--left {
            left: calc((100% - 1230px)/ 2);

            .home-layout-2 & {
                left: 55px;
            }
        }

        &.heroCarousel-content--right {
            right: calc((100% - 1230px)/ 2);

            .home-layout-2 & {
                right: 55px;
            }
        }
    }
}

.heroCarousel-title {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    font-size: $fontSize-hero - 16px;
    font-weight: $fontWeight-bold;
    color: $carousel-title-mb-color;
    letter-spacing: 0;
    line-height: 1.2;
    margin: 0 0 10px 0;

    @include smin-xs {
        color: $carousel-title-color;
    }

    @include smin-m {
        font-size: $fontSize-hero;
        margin-bottom: 15px;
    }
}

.heroCarousel-description {
    font-size: $fontSize-root;
    line-height: 24px;
    display: inline-block;
    vertical-align: top;
    margin: 0 0 8px 0;
    color: $carousel-description-mb-color;

    @include smin-xs {
        color: $carousel-description-color;
    }

    @include smin-m {
        font-size: $fontSize-root + 2;
        margin-bottom: 17px;
    }
}

.heroCarousel-action {
    margin: 10px 0 0 0;

    .button {
        min-width: 146px;
        height: 42px;
        line-height: 40px;
        font-size: 14px;

        &.button--large {
            min-width: 200px;
        }

        +.button {
            margin-top: 10px;
        }
    }

    @include smin-xs {
        margin: 8px 0 0 0;

        .button {
            +.button {
                margin-left: 30px;
                margin-top: 0;
            }
        }
    }
}
