<nav class="navUser">
    <div class="container">
        <div class="navUser--left">
            {{#if theme_settings.hl_header_topText1}}
                <div class="navUser-item">
                    <a class="navUser-action" href="{{theme_settings.hl_header_topLink1}}" aria-label="{{theme_settings.hl_header_topText1}}">
                        <svg class="icon big" title="icon check"><use xlink:href="#icon-check"></use></svg>
                        <span>{{theme_settings.hl_header_topText1}}</span>
                    </a>
                </div>
            {{/if}}
            {{#if theme_settings.hl_header_topText2}}
                <div class="navUser-item">
                    <a class="navUser-action" href="{{theme_settings.hl_header_topLink2}}" aria-label="{{theme_settings.hl_header_topText2}}">
                        <svg class="icon big" title="icon check"><use xlink:href="#icon-check"></use></svg>
                        <span>{{theme_settings.hl_header_topText2}}</span>
                    </a>
                </div>
            {{/if}}
            {{#if theme_settings.hl_header_topText3}}
                <div class="navUser-item">
                    <a class="navUser-action" href="{{theme_settings.hl_header_topLink3}}" aria-label="{{theme_settings.hl_header_topText3}}">
                        <svg class="icon big" title="icon check"><use xlink:href="#icon-check"></use></svg>
                        <span>{{theme_settings.hl_header_topText3}}</span>
                    </a>
                </div>
            {{/if}}
        </div>
        <div class="navUser--right">
            {{#if settings.phone_number}}
                <div class="navUser-item">
                    <a class="navUser-action" href="tel:{{settings.phone_number}}" title="{{lang 'common.phone_1' phone=settings.phone_number}}" aria-label="{{lang 'common.phone_1' phone=settings.phone_number}}">{{lang 'common.phone_1' phone=settings.phone_number}}</a>
                </div>
            {{/if}}
            {{#if theme_settings.hl_header_topText4}}
                <div class="navUser-item">
                    <a class="navUser-action" href="{{theme_settings.hl_header_topLink4}}" aria-label="{{theme_settings.hl_header_topText4}}" title="{{theme_settings.hl_header_topText4}}">{{theme_settings.hl_header_topText4}}</a>
                </div>
            {{/if}}
            {{#if theme_settings.hl_header_topText5}}
                <div class="navUser-item">
                    <a class="navUser-action" href="{{theme_settings.hl_header_topLink5}}" aria-label="{{theme_settings.hl_header_topText5}}" title="{{theme_settings.hl_header_topText5}}"> {{theme_settings.hl_header_topText5}}</a>
                </div>
            {{/if}}
            {{#if theme_settings.hl_header_topText6}}
                <div class="navUser-item">
                    <a class="navUser-action" href="{{theme_settings.hl_header_topLink6}}" aria-label="{{theme_settings.hl_header_topText6}}" title="{{theme_settings.hl_header_topText6}}">{{theme_settings.hl_header_topText6}}</a>
                </div>
            {{/if}}
            {{#if settings.gift_certificates_enabled}}
                <div class="navUser-item">
                    <a class="navUser-action" href="{{urls.gift_certificate.purchase}}" aria-label="{{lang 'common.gift_cert'}}" title="{{lang 'common.gift_cert'}}">{{lang 'common.gift_cert'}}</a>
                </div>
            {{/if}}
            <div class="navUser-item">
                {{> components/common/currency-selector}}
            </div>
        </div>
    </div>
</nav>
