<nav class="navUser">
    <div class="container cwt-site-width">
        <div class="navUser--left text-left cwt-top-contact">
            <div class="navUser-item">
                <a class="navUser-action" href="tel:+18322058313" title="Phone" aria-label="Phone (832) 205-8313">
                    <svg class="icon"><use href="#icon-phone" /></svg>
                    <span>(832) 205-8313</span>
                </a>
            </div>
            <div class="navUser-item">
                <a class="navUser-action" href="mailto:customerservice@chromeworldtrucks.com" title="Email" aria-label="Email customerservice@chromeworldtrucks.com">
                    <svg class="icon"><use href="#icon-mail" /></svg>
                    <span>customerservice@chromeworldtrucks.com</span>
                </a>
            </div>
        </div>
        <div class="navUser--center text-center">
            <span class="text-promotion">
                {{#if theme_settings.hl_topPro_text}}
                    <span class="text">{{theme_settings.hl_topPro_text}}</span>
                {{else}}
                    <span class="text">Unbeatable prices - guaranteed! We also price match. Call: (832) 205-8313</span>
                {{/if}}
            </span>
        </div>
        <div class="navUser--right text-right cwt-top-icons">
            {{> components/halothemes/header/cwt-header-icons}}
            <div class="navUser-item navUser-item-currency">
                {{> components/common/currency-selector}}
            </div>
        </div>
    </div>
</nav>
