{{#if social_media}}
    <ul class="socialLinks socialLinks--alt">
        {{#each social_media}}
            {{#if display_name '===' 'facebook'}}
                <li class="socialLinks-item">
                    <a class="icon icon--facebook"
                    href="{{url}}"
                    target="_blank"
                    rel="noopener"
                    aria-label="Open Facebook Social Media in a new tab"
                    >
                        <span class="aria-description--hidden">Facebook</span>
                        <svg>
                            <title>Facebook</title>
                            <desc>Facebook</desc>
                            <use href="#icon-facebook"/>
                        </svg>
                    </a>
                </li>
            {{/if}}
            {{#if display_name '===' 'instagram'}}
                <li class="socialLinks-item">
                    <a class="icon icon--instagram"
                    href="{{url}}"
                    target="_blank"
                    rel="noopener"
                    aria-label="Open Instagram Social Media in a new tab"
                    >
                        <span class="aria-description--hidden">Instagram</span>
                        <svg>
                            <title>Instagram</title>
                            <desc>Instagram</desc>
                            <use href="#icon-instagram"/>
                        </svg>
                    </a>
                </li>
            {{/if}}
            {{!-- Store TikTok URL is sometimes saved under Tumblr in BC --}}
            {{#or (if display_name '===' 'tiktok') (if display_name '===' 'tumblr')}}
                <li class="socialLinks-item">
                    <a class="icon icon--tiktok"
                    href="{{url}}"
                    target="_blank"
                    rel="noopener"
                    aria-label="Open Tiktok Social Media in a new tab"
                    >
                        <span class="aria-description--hidden">Tiktok</span>
                        <svg>
                            <title>Tiktok</title>
                            <desc>Tiktok</desc>
                            <use href="#icon-tiktok"/>
                        </svg>
                    </a>
                </li>
            {{/or}}
        {{/each}}
    </ul>
{{/if}}
