---
blog:
    posts:
        limit: 5
        pages: 3
        summary: 450
products:
    new:
        limit: {{theme_settings.homepage_new_products_count}}
    featured:
        limit: {{theme_settings.homepage_featured_products_count}}
    top_sellers:
        limit: {{theme_settings.homepage_top_products_count}}
---
{{#partial "head"}}
    {{#if pagination.blog.previous}}
        <link rel="prev" href="{{pagination.blog.previous}}">
    {{/if}}
    {{#if pagination.blog.next}}
        <link rel="next" href="{{pagination.blog.next}}">
    {{/if}}
{{/partial}}

{{#partial "page"}}
    <section class="page page-blog">
        <div class="page-blog-header">
            <div class="container">
                <div class="breadcrumb-wrapper">
                    {{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}
                </div>
                <div class="page-header">
                    {{#unless theme_settings.hide_blog_page_heading }}
                        <h1 class="page-heading">{{ blog.name }}</h1>
                    {{/unless}}
                </div>
            </div>
        </div>

        {{#if theme_settings.halo-blog-sidebar}}
            <aside class="page-sidebar">
                <div class="page-sidebar-close">
                    <span class="title">{{lang 'common.sidebar'}}</span>
                    <a href="#" class="close">
                        <svg class="icon" role="img" aria-label="{{lang 'common.close'}}">
                            <title>{{lang 'common.close'}}</title>
                            <desc>{{lang 'common.close'}}</desc>
                            <use xlink:href="#icon-close"></use>
                        </svg>
                    </a>
                </div>
                {{> components/blog/sidebar post=blog.posts}}
            </aside>
        {{/if}}

        <main class="page-content" id="blog-listing-container">
            {{#if theme_settings.halo-blog-sidebar}}
                <div class="page-sidebar-mobile-wrapper">
                    <div class="page-sidebar-mobile">
                        <span class="text">{{lang 'common.sidebar'}}</span>
                        <svg class="icon" role="img" aria-label="{{lang 'common.sidebar'}}">
                            <title>{{lang 'common.sidebar'}}</title>
                            <desc>{{lang 'common.sidebar'}}</desc>
                            <use xlink:href="#icon-sidebar"></use>
                        </svg>
                    </div>
                </div>
            {{/if}}

            {{#each blog.posts}}
                {{> components/blog/post post=this show_tags=true last=@last settings=../settings theme_settings=../theme_settings}}
            {{/each}}

            {{> components/common/paginator pagination.blog}}
        </main>
    </section>
{{/partial}}
{{> layout/base}}
