{{#if theme_settings.halo-sidebar-image-1}}
	<div class="sidebarBlock" id="advertisement-image-1">
		<div class="sidebarBlock-content">
	       	<div class="advertisement-image">
				<a class="image banner-effect-zoom" href="{{theme_settings.halo-sidebar-image-1-link}}">
					<img src="https://cdn11.bigcommerce.com/s-{{settings.store_hash}}/images/stencil/original/image-manager/{{theme_settings.halo-sidebar-image-1}}" alt="{{theme_settings.halo-sidebar-image-1}}">
				</a>
			</div>
	    </div>
	</div>
{{/if}}
{{#if theme_settings.halo-sidebar-image-2}}
	<div class="sidebarBlock" id="advertisement-image-2">
		<div class="sidebarBlock-content">
	       	<div class="advertisement-image">
				<a class="image banner-effect-zoom" href="{{theme_settings.halo-sidebar-image-2-link}}">
					<img src="https://cdn11.bigcommerce.com/s-{{settings.store_hash}}/images/stencil/original/image-manager/{{theme_settings.halo-sidebar-image-2}}" alt="{{theme_settings.halo-sidebar-image-2}}">
				</a>
			</div>
	    </div>
	</div>
{{/if}}

