
    <div class="halo_MultiCategory {{#if page_type '===' 'default' }} {{else}}hide-filter{{/if}}" data-multi-level="{{theme_settings.hl_multi_level}}" data-multi-level-order="{{theme_settings.hl_multi_level_order}}">
        <div class="halo_multilevel-category-filter halo-fadeInUp" data-halo-animate="1">
            <label class="form-label">
                <h3 class="title">{{theme_settings.hl_multi_level_label}}</h3>
                <span class="desc">{{theme_settings.hl_multi_level_desc}}</span>
            </label>
            <div class="form-wrapper">
                <div class="form-field">
                    <label class="form-label" for="halo_select-level-1">select 1</label>
                    <select id="halo_select-level-1" class="form-select"><option selected="" disabled="">{{theme_settings.hl_multi_level_text1}}</option></select>
                </div>
                <div class="form-field">
                    <label class="form-label" for="halo_select-level-2">select 2</label>
                    <select id="halo_select-level-2" class="form-select"><option selected="" disabled="">{{theme_settings.hl_multi_level_text2}}</option></select>
                </div>
                <div class="form-field">
                    <label class="form-label" for="halo_select-level-3">select 3</label>
                    <select id="halo_select-level-3" class="form-select"><option selected="" disabled="">{{theme_settings.hl_multi_level_text3}}</option></select>
                </div>
                <div class="group-button">
                    <a class="button button--primary" href="#" id="halo_select-browse" title="{{theme_settings.hl_multi_level_button}}"><span>{{theme_settings.hl_multi_level_button}}</span></a>
                    <a class="button button--primary" href="#" id="halo_clear-select" title="Reset">
                        <svg class="icon" title="icon refresh"><use xlink:href="#icon-refresh"></use></svg>
                    </a>
                </div>
            </div>
        </div>
    </div>
