{{#if theme_settings.halo-product-security-image}}
    {{#or (if theme_settings.halo-product-security-image-1) (if theme_settings.halo-product-security-image-2) (if theme_settings.halo-product-security-image-3) (if theme_settings.halo-product-security-image-4)}}
        <div class="productView-securityImage">
            <ul>
                {{#if theme_settings.halo-product-security-image-1}}
                    <li>
                        <img src="https://cdn11.bigcommerce.com/s-{{settings.store_hash}}/product_images/uploaded_images/{{theme_settings.halo-product-security-image-1}}" alt="{{theme_settings.halo-product-security-image-1}}">
                    </li>
                {{/if}}
                {{#if theme_settings.halo-product-security-image-2}}
                    <li>
                        <img src="https://cdn11.bigcommerce.com/s-{{settings.store_hash}}/product_images/uploaded_images/{{theme_settings.halo-product-security-image-2}}" alt="{{theme_settings.halo-product-security-image-2}}">
                    </li>
                {{/if}}
                {{#if theme_settings.halo-product-security-image-3}}
                    <li>
                        <img src="https://cdn11.bigcommerce.com/s-{{settings.store_hash}}/product_images/uploaded_images/{{theme_settings.halo-product-security-image-3}}" alt="{{theme_settings.halo-product-security-image-3}}">
                    </li>
                {{/if}}
                {{#if theme_settings.halo-product-security-image-4}}
                    <li>
                        <img src="https://cdn11.bigcommerce.com/s-{{settings.store_hash}}/product_images/uploaded_images/{{theme_settings.halo-product-security-image-4}}" alt="{{theme_settings.halo-product-security-image-4}}">
                    </li>
                {{/if}}
                {{#if theme_settings.halo-product-security-image-5}}
                    <li>
                        <img src="https://cdn11.bigcommerce.com/s-{{settings.store_hash}}/product_images/uploaded_images/{{theme_settings.halo-product-security-image-5}}" alt="{{theme_settings.halo-product-security-image-5}}">
                    </li>
                {{/if}}
                {{#if theme_settings.halo-product-security-image-6}}
                    <li>
                        <img src="https://cdn11.bigcommerce.com/s-{{settings.store_hash}}/product_images/uploaded_images/{{theme_settings.halo-product-security-image-6}}" alt="{{theme_settings.halo-product-security-image-6}}">
                    </li>
                {{/if}}
                {{#if theme_settings.halo-product-security-image-7}}
                    <li>
                        <img src="https://cdn11.bigcommerce.com/s-{{settings.store_hash}}/product_images/uploaded_images/{{theme_settings.halo-product-security-image-7}}" alt="{{theme_settings.halo-product-security-image-7}}">
                    </li>
                {{/if}}
            </ul>
        </div>
    {{/or}}
{{/if}}
