<ul class="tabs" data-tab role="tablist" data-halo-load="animation">
    <li class="tab is-active halo-fadeInUp" role="presentation" data-halo-animate="0">
        <a class="tab-title" href="#tab-prodByCateTabs-new-{{id}}" role="tab" tabindex="0" aria-selected="true" aria-controls="tab-prodByCateTabs-new-{{id}}" aria-label="{{lang 'home.tab_products.new' }}">{{lang 'home.tab_products.new' }}</a>
    </li>
    <li class="tab halo-fadeInUp" role="presentation" data-halo-animate="0">
        <a class="tab-title" href="#tab-prodByCateTabs-bestselling-{{id}}" role="tab" tabindex="0" aria-selected="false" aria-controls="tab-prodByCateTabs-bestselling-{{id}}" aria-label="{{lang 'home.tab_products.bestselling' }}">{{lang 'home.tab_products.bestselling' }}</a>
    </li>
    <li class="tab halo-fadeInUp" role="presentation" data-halo-animate="0">
        <a class="tab-title" href="#tab-prodByCateTabs-featured-{{id}}" role="tab" tabindex="0" aria-selected="false" aria-controls="tab-prodByCateTabs-featured-{{id}}" aria-label="{{lang 'home.tab_products.featured' }}">{{lang 'home.tab_products.featured' }}</a>
    </li>
    <li class="tab halo-fadeInUp" role="presentation" data-halo-animate="0">
        <a class="tab-title" href="#tab-prodByCateTabs-reviews-{{id}}" role="tab" tabindex="0" aria-selected="false" aria-controls="tab-prodByCateTabs-reviews-{{id}}" aria-label="{{lang 'home.tab_products.reviews' }}">{{lang 'home.tab_products.reviews' }}</a>
    </li>
</ul>
