{{#if theme_settings.halo_newsletter_popup}}
    <div id="halo-newsletter-popup" class="halo-popup halo-newsletter-popup{{#unless theme_settings.halo_newsletter_popup_image}} halo-newsletter-popup-noImage{{/unless}} hide">
        <div class="newsletter-popup-container">
            <div class="newsletter-popup-inner">
                <button type="button" data-close-newsletter-popup>
                    <svg class="icon" role="img" aria-label="{{lang 'common.close'}}">
                        <title>{{lang 'common.close'}}</title>
                        <desc>{{lang 'common.close'}}</desc>
                        <use href="#icon-close"></use>
                    </svg>
                </button>
                <div class="newsletter-left">
                    <h3 class="newsletter-heading">{{lang 'newsletter.subscribe'}}</h3>
                    <div class="newsletter-message">
                        <span class="f-bold">{{lang 'newsletter.subscribe_intro'}}</span>
                    </div>
                    <div id="popupSubcribeForm">
                        <form class="form" action="{{urls.subscribe.action}}" method="post" id="popupSubcribeFormSubmit">
                            <fieldset class="form-fieldset">
                                <input type="hidden" name="action" value="subscribe">
                                <input type="hidden" name="nl_first_name" value="bc">
                                <input type="hidden" name="check" value="1">
                                <div class="form-field">
                                    <label class="form-label is-srOnly" for="nl_email2">{{lang 'newsletter.email_placeholder'}}</label>
                                    <input class="form-input" id="nl_email2" name="nl_email" type="email" placeholder="{{lang 'newsletter.email_placeholder'}}">
                                    <input class="button button--large" type="submit" value="{{lang 'newsletter.subscribe_submit'}}">
                                </div>
                            </fieldset>
                        </form>
                    </div>
                    <div class="newsletter-message">
                        <span class="f-normal f-italic">{{lang 'newsletter.subscribe_intro_2'}}</span>
                    </div>

                    {{#if theme_settings.show_social-links}}
                        <div class="newsletter-social">
                            {{> components/common/social-links}}
                        </div>
                    {{/if}}

                    {{#if theme_settings.halo_newsletter_popup_again}}
                        <div class="form-show-again">
                            <form class="form">
                                <div class="form-field form-field-checkbox">
                                    <input id="do-not-show-again" class="do-not-show-again" type="checkbox" name="don't show again" value="1"> 
                                    <label class="form-label" for="do-not-show-again">
                                        <span>{{lang 'newsletter.subscribe_dontshow'}}</span>
                                    </label>
                                </div>
                            </form>
                        </div>
                    {{/if}}
                </div>
                {{#if theme_settings.halo_newsletter_popup_image}}
                    <div class="newsletter-right">
                        <img class="lazyload" src="{{cdn 'img/loading.svg'}}" data-src="https://cdn11.bigcommerce.com/s-{{settings.store_hash}}/product_images/uploaded_images/{{theme_settings.halo_newsletter_popup_image}}" alt="{{lang 'newsletter.subscribe'}}" title="{{lang 'newsletter.subscribe'}}">
                    </div>
                {{/if}}
            </div>
        </div>
    </div>
{{/if}}
