<section class="heroCarousel{{#if theme_settings.show_style_hl_multi_level}} special-style{{/if}}"
    data-slick='{
    "fade": true,
    "arrows": true,
    "dots": true,
    "mobileFirst": true,
    "slidesToShow": 1,
    "slidesToScroll": 1,
    "autoplay": true,
    "autoplaySpeed": {{carousel.swap_frequency}},
    "slide": "[data-hero-slide]",
    "responsive": [
    {
        "breakpoint": 1024,
        "settings": {
            "arrows": true
        }
    }]
}'>
    {{#each carousel.slides}}
        <div class="heroCarousel-slide{{#if @first}} heroCarousel-slide--first{{/if}}" data-hero-slide="{{@index}}">
            {{#if @index '==' 0}}
                {{#if (merge this position=../theme_settings.homepage_show_carousel_0_position_content)}}{{/if}}
                {{#if (merge this hasBackground=../theme_settings.carousel-bgColor)}}{{/if}}
            {{/if}}
            {{#if @index '==' 1}}
                {{#if (merge this position=../theme_settings.homepage_show_carousel_1_position_content)}}{{/if}}
                {{#if (merge this hasBackground=../theme_settings.carousel-bgColor)}}{{/if}}
            {{/if}}
            {{#if @index '==' 2}}
                {{#if (merge this position=../theme_settings.homepage_show_carousel_2_position_content)}}{{/if}}
                {{#if (merge this hasBackground=../theme_settings.carousel-bgColor)}}{{/if}}
            {{/if}}
            {{#if @index '==' 3}}
                {{#if (merge this position=../theme_settings.homepage_show_carousel_3_position_content)}}{{/if}}
                {{#if (merge this hasBackground=../theme_settings.carousel-bgColor)}}{{/if}}
            {{/if}}
            {{#if @index '==' 4}}
                {{#if (merge this position=../theme_settings.homepage_show_carousel_4_position_content)}}{{/if}}
                {{#if (merge this hasBackground=../theme_settings.carousel-bgColor)}}{{/if}}
            {{/if}}
            <div class="heroCarousel-image-wrapper pos-relative" style="--pb: {{multiply (divide image_height image_width) 100}}%">
                <a class="heroCarousel-image" href="{{url}}" aria-label="{{#if this.alt_text.length '!=' 0}}{{this.alt_text}}{{else}}{{lang 'common.carousel_slide_number' slide_number=(add @index 1)}}{{/if}}">
                    {{#if @first}}
                        {{> components/common/responsive-img
                            image=stencil_image
                            class="heroCarousel-image"
                            fallback_size='1280w'
                            lazyload='disabled'
                        }}
                    {{else}}
                        {{> components/common/responsive-img
                            image=stencil_image
                            class="heroCarousel-image"
                            fallback_size='1280w'
                            lazyload='lazyload'
                        }}
                    {{/if}}
                </a>
            </div>
            <div class="heroCarousel-content-wrapper {{position}}">
                {{#if heading}}
                    {{> components/carousel-content show_background=true}}
                {{else}}
                    {{#if text}}
                        {{> components/carousel-content show_background=true}}
                    {{else}}
                        {{#if button_text}}
                            {{> components/carousel-content show_background=false}}
                        {{/if}}
                    {{/if}}
                {{/if}}
            </div>
        </div>
    {{/each}}
    {{#if carousel.slides.length '>' 1}}
        {{> components/carousel-content-announcement}}
        {{#if play_pause_button}}
            {{> components/carousel-play-pause-button}}
        {{/if}}
    {{/if}}
</section>


