<section class="cwt-part-cats" aria-label="Shop by part">
    <div class="container">
        <ul class="cwt-part-cats__list">
            <li class="cwt-part-cats__item">
                <a class="cwt-part-cats__link" href="/all-products/lighting/headlights/">
                    <span class="cwt-part-cats__icon">
                        <img src="{{cdn 'img/cwt-parts/headlights.png'}}" alt="" width="153" height="153">
                    </span>
                    <span class="cwt-part-cats__title">Headlights</span>
                    <span class="cwt-part-cats__desc">LED, Blackout, Projection, Headlight Assembly, Headlight Bezel</span>
                </a>
            </li>
            <li class="cwt-part-cats__item">
                <a class="cwt-part-cats__link" href="/all-products/bumpers-accessories/">
                    <span class="cwt-part-cats__icon">
                        <img src="{{cdn 'img/cwt-parts/bumpers.png'}}" alt="" width="153" height="153">
                    </span>
                    <span class="cwt-part-cats__title">Bumpers</span>
                    <span class="cwt-part-cats__desc">Fully Customizable, Bumper Accessories, Bumper Guard, Lift Kit, Bumper Trim</span>
                </a>
            </li>
            <li class="cwt-part-cats__item">
                <a class="cwt-part-cats__link" href="/all-products/center-panels-mud-flap-hangers/">
                    <span class="cwt-part-cats__icon">
                        <img src="{{cdn 'img/cwt-parts/center-panels.png'}}" alt="" width="152" height="152">
                    </span>
                    <span class="cwt-part-cats__title">Center Panels</span>
                    <span class="cwt-part-cats__desc">Complete Kit, Mudflap Hanger, Rear Light Bars, T-Bars, Center Panel Accessories</span>
                </a>
            </li>
            <li class="cwt-part-cats__item">
                <a class="cwt-part-cats__link" href="/all-products/exhaust-mounting-kits/exhaust-kits/">
                    <span class="cwt-part-cats__icon">
                        <img src="{{cdn 'img/cwt-parts/exhaust-kits.png'}}" alt="" width="159" height="159">
                    </span>
                    <span class="cwt-part-cats__title">Exhaust Kits</span>
                    <span class="cwt-part-cats__desc">Peterbilt, Kenworth, Freightliner, Fully Customizable, Complete Kit</span>
                </a>
            </li>
            <li class="cwt-part-cats__item">
                <a class="cwt-part-cats__link" href="/all-products/grilles-surrounds/">
                    <span class="cwt-part-cats__icon">
                        <img src="{{cdn 'img/cwt-parts/grilles.png'}}" alt="" width="153" height="153">
                    </span>
                    <span class="cwt-part-cats__title">Grilles</span>
                    <span class="cwt-part-cats__desc">Grill Guard, Grill Insert, Grill Surround, Complete Kit, Mounting Hardware</span>
                </a>
            </li>
        </ul>
    </div>
</section>
