<section class="cwt-shop-brands halo-block halo-home-section" id="cwt-shop-brands" aria-labelledby="cwt-shop-brands-title">
    <div class="container">
        <div class="halo-block-header cwt-shop-brands__header">
            <h2 class="title" id="cwt-shop-brands-title">Shop by Popular Categories of Truck</h2>
        </div>
        <div class="cwt-shop-brands__grid">
            <a class="cwt-shop-brands__card" href="/peterbilt/">
                <img src="{{cdn 'img/cwt-shop/peterbilt.jpg'}}" alt="Shop Peterbilt truck parts" width="800" height="450" loading="lazy">
                <span class="cwt-shop-brands__label">Shop Peterbilt</span>
            </a>
            <a class="cwt-shop-brands__card" href="/kenworth/">
                <img src="{{cdn 'img/cwt-shop/kenworth.jpg'}}" alt="Shop Kenworth truck parts" width="800" height="450" loading="lazy">
                <span class="cwt-shop-brands__label">Shop Kenworth</span>
            </a>
            <a class="cwt-shop-brands__card" href="/mack/">
                <img src="{{cdn 'img/cwt-shop/mack.jpg'}}" alt="Shop Mack truck parts" width="800" height="450" loading="lazy">
                <span class="cwt-shop-brands__label">Shop Mack</span>
            </a>
            <a class="cwt-shop-brands__card" href="/western-star/">
                <img src="{{cdn 'img/cwt-shop/western-star.jpg'}}" alt="Shop Western Star truck parts" width="800" height="450" loading="lazy">
                <span class="cwt-shop-brands__label">Shop Western Star</span>
            </a>
            <a class="cwt-shop-brands__card" href="/volvo/">
                <img src="{{cdn 'img/cwt-shop/volvo.jpg'}}" alt="Shop Volvo truck parts" width="800" height="450" loading="lazy">
                <span class="cwt-shop-brands__label">Shop Volvo</span>
            </a>
            <a class="cwt-shop-brands__card" href="/freightliner/">
                <img src="{{cdn 'img/cwt-shop/freightliner.jpg'}}" alt="Shop Freightliner truck parts" width="800" height="450" loading="lazy">
                <span class="cwt-shop-brands__label">Shop Freightliner</span>
            </a>
        </div>
    </div>
</section>
