<div class="halo-block halo-block-product" id="halo-related-products">
    <div class="container">
        <div class="halo-block-header">
            <h2 class="title">{{title}}</h2>
        </div>
        {{> components/products/carousel-3
            products=products
            productsnew=productsnew
            block_id=block_id
            block_limit=block_limit
            block_arrow_custom=block_arrow_custom
            block_column=block_column
            block_row=block_row
            list="Related Products"
        }}
    </div>
</div>
