<div class="halo-block halo-block-product cwt-related-products" id="halo-related-products">
    <div class="cwt-related-products__inner">
        <div class="halo-block-header">
            <h2 class="title">{{title}}</h2>
        </div>
        {{> components/products/carousel-3
            products=products
            productsnew=productsnew
            block_id=block_id
            block_limit=block_limit
            block_arrow_custom=block_arrow_custom
            block_column=3
            block_row=false
            list="Related Products"
        }}
    </div>
</div>
